@import "../main/sass/base/_normalize";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    width: 100%;
}

.body-wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}


.main {
    display: flex;
    flex-direction: column;
}

@import "../main/sass/variables/_variables";
@import "../main/sass/components/_buttons";
@import "../main/sass/layout/_header";
@import "../main/sass/components/_burger_menu";
@import "../main/sass/layout/_footer";
@import "../main/sass/components/_popup";

.menu__burger {
    position: fixed;
    top: 4.5rem;
    right: 5.3rem;
    z-index: 9999;
    color: #000000;

    &.active {
        color: $color-primary;
    }
}

.burger-menu {
    position: fixed;
    &__logo__link {
        text-decoration: none;
    }
}

.header {
    //width: 100vw;
    top: 0rem;
    padding: 3rem 0 3rem;
    position: fixed;
    background-color: $color-light-xl;
    z-index: 9980;

    .logo {
        &__link {
            text-decoration: none;
        }

        &__title {
            color: $color-dark-l;
        }
        &__subtitle {
            margin-top: 1rem;
            color: $color-dark-3xl;
        }
    }
    
    .list {
    
        &__link {
            color: $color-dark-l;

            &.active {
                color: $color-dark-3xl;
            }
            
            &:hover {
                color: $color-dark-3xl;
            }        
        }
    
    }   

}


.pets {
    width: 100%;
    padding-top: 12rem;
    background-color:  $color-light-l;
    
    &__content {
        width: 100%;
        padding-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            max-width: 40rem;
            @include h3;
            color: $color-dark-l;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__list__buttons {
            margin: 4.5rem 0 10rem;
            width: 34rem;
            display: flex;
            align-self: center;
            justify-content: space-between;

            &__title {
                width: 100%;
                @include h4;
                text-align: center;
            }

        }

    }

    &__list {
        margin-top: 4.5rem;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &.fadeOut {
            animation: 0.3s ease-in-out;
            animation-name: fadeOut;
            animation-fill-mode: forwards;
        }

        &.fadeIn {
            opacity: 0;
            animation: 0.3s ease-in-out;
            animation-name: fadeIn;
            animation-fill-mode: forwards;
        }
    }

    &__item {
        
        & > label {
            display: none;
        }

        margin: 1.5rem 0 1.5rem;
        
        &__card {
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 0.9rem;
            background-color: $color-light-s;
    
            &:hover {
                cursor: pointer;
                background-color: $color-light-xl;
                box-shadow: 0px 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);            
            }
    
            &__image {
                display: flex;
                & img {
                    border-radius: 0.9rem 0.9rem 0 0;
                }
            }
        
            &__title {
                padding: 3rem 0 3rem;
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 2rem;
                line-height: 2.3rem;
                letter-spacing: 0.06em;
                color: $color-dark-l;
            }
    
            &__button {
                padding-bottom: 3rem;
            }
        }
    }
    
}

@keyframes fadeOut {
    from { opacity: 1; } 
    to { opacity: 0}
}

@keyframes fadeIn {
    from { opacity: 0; } 
    to { opacity: 1}
}

@media screen and (min-width: 768px) 
              and (max-width: 1279px) {
    
    @import "../main/sass/pages/pets768";
    
}

@media screen and (max-width: 767px) {
    
    @import "../main/sass/pages/pets768";

    .header {
        .menu {
            margin: 1.9rem 5rem 1.9rem 0;
        }
    }

    .pets {

        &__content {

            padding-top: 4.2rem;

            @-moz-document url-prefix() {
                padding-top: 4.1rem;
            }
        
            &__title {
                &:first-child {
                    padding-top: 0;
                }
               
                @include h3-mobile;
            }

            &__list {
                &__buttons {
                    margin: 1.2rem 0 4.2rem;
                    width: 30rem;
                }
            }
        }

        &__list {
            margin-top: 4.2rem;
            width: 27rem;
            align-self: center;
        }
        
        &__item {
            &:nth-child(2n+1) {
                margin-right: 0;
            }            
            // &:nth-last-child(-n+5) {
            //     display: none;
            // }

            &__card {
                &__image {
                    width: 27rem;
                    & img {
                        width: 100%;
                        object-fit: contain;
                    }
                    
                }
            }
        }
    }
    
}

@media screen and (max-width: 319px) {
    :root {
        font-size: 3vw;
        .menu__burger {
            width: 3rem;
        }
    
    }
}

// @media screen and (max-width: 200px) {
//     :root {
//        font-size: 5px;
//     }
// }

// @media screen and (max-width: 150px) {
//     :root {
//       font-size: 3px;
//     }
// }