.blackout {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include Blackout;
    z-index: 9990;
}

.burger-menu {
    width: 32rem;
    position: absolute;
    top: 0;
    right: -100%;
    background: $color-dark-3xl;
    transition-duration: .25s;
    z-index: 9998;
    overflow: hidden;

    &__logo {
        margin-top: 3rem;
        margin-left: 1rem;
        width: 18.4rem;
        &__title {
            @include logo-title;
            color: $color-primary;
        }
        &__subtitle {
            padding-top: 1rem;
            @include logo-subtitle;
            color: $color-light-xl;
        }
    }    

    &__list {
        margin-top: 15.8rem;
        margin-bottom: 24.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        & li:not(:last-child) {
            margin-bottom: 4rem;
        }
        & li.active {
            & a {
                color: $color-light-s;
            }
            border-bottom: solid 0.3rem $color-primary;    
        }
    }

    &__item {
        @include paragraph-mobile-menu;
        text-decoration: none;
        color: $color-dark-s;

        &:hover {
            color: $color-light-s;
        }
    }


}

.blackout.active {
    display: block;
}

.menu__burger {
    transition-duration: .25s;
    
    &:hover {
        cursor: pointer;
    }

    &.active {
        transform: rotate(-90deg);
    }
}

.burger-menu.active {
    visibility: visible;
    right: 0;
}