.button-primary {
    padding: 0.9375rem 2.8125rem;
    border-radius: 6.25rem;
    border: none;
    background-color: $color-primary;
    font-family: Georgia;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.06rem;
    color: $color-dark-xl;
}

.button-primary:hover {
    cursor: pointer;
    background-color: $color-primary-light;
    color: $color-dark-xl;
}

.button-secondary {
    padding: 0.84rem 2.8125rem;
    background: none;
    border: 1.98px solid $color-primary;
}

.button-secondary:hover {
    border: 1.98px solid $color-primary-light;
}

.button-arrow {
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    border: 2px solid $color-primary;
    background-color: transparent;
    
}

.button-arrow:hover {
    background-color: $color-primary-light;
    border: none;
}

.arrow-right {
    transform: rotate(-180deg);
}
