.game-button {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__icon {
        font-size: 70px;
        color: #2196F3;
        opacity: .7;
        transition: all .3s ease-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            opacity: 1;
        }
    }

    &__text {
        font-size: 25px;
        font-weight: 700;
    }

    &.active {
        display: flex;
    }
}

.statistics-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        padding: 5px;
        font-size: 30px;
        border: none;
        border-radius: 5px;
        color: white;
        transition: all .3s ease-out;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px black;
        }
    }
    
    &__difficult {
        background-color: blue;
    }

    &__reset {
        background-color: crimson;
    }
}

@media screen and (max-width: 750px) {
    .statistics-buttons {
        button {
            font-size: 20px;
        }
    }
}