@import "sass/base/_normalize";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    width: 100%;
}

.body-wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}

@import "sass/variables/_variables";
@import "sass/components/_buttons";
@import "sass/layout/_header";
@import "sass/components/_burger_menu";
@import "sass/pages/_start";
@import "sass/pages/_about";
@import "sass/pages/_friends";
@import "sass/pages/_help";
@import "sass/pages/_addition";
@import "sass/layout/footer";
@import "sass/components/_popup";

@media screen and (max-width: 319px) {
    :root {
        font-size: 3vw;
    }
    .menu__burger {
        width: 3rem;
    }

    .start {
        .content-section {
            padding-bottom: 32.8125vw;
        }
    }
}