@import "sass/base/_normalize";
@import "sass/variables/_variables";
@import "sass/components/_buttons";
@import "sass/layout/_header";
@import "sass/pages/_start";
@import "sass/pages/_about";
@import "sass/pages/_friends";
@import "sass/pages/_help";
@import "sass/pages/_addition";
@import "sass/layout/footer";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
}

.main {
    display: flex;
    flex-direction: column;
}