* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 10px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: 2s;
}

h1 {
  position: absolute;
  left: -100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  
}

.background.fadeOut {
  animation: 1s ease-in-out;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}  

.background.fadeIn {
  opacity: 0;
  animation: 0.2s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}  

@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.date {
  margin-top: 15rem;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .5rem;
  text-shadow: black 0 0 1rem;
}

.time {
  font-family: 'Fira Mono', monospace;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: black 0 0 1.2rem;
}


.greeting {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .5rem;
  opacity: .8;
  text-shadow: black 0 0 1.2rem;
}

.name {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2.2rem;
  font-weight: 500;
  opacity: .8;
  text-shadow: black 0 0 1.2rem;
  outline: 0;
  min-width: 1px;
  transition: .3s;
}

.name:hover, .name:focus {
  opacity: 1;
  letter-spacing: .2rem;
  text-shadow: blue 0 0 1.2rem;
}

.questionCity {
  margin-top: 1rem;
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .5rem;
  opacity: .8;
  text-shadow: black 0 0 1.2rem;
}

.city {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2.2rem;
  font-weight: 500;
  opacity: .8;
  text-shadow: black 0 0 1.2rem;
  outline: 0;
  min-width: 1px;
  transition: 0.3s;
}

.city:hover, .city:focus {
  opacity: 1;
  letter-spacing: .2rem;
  text-shadow: green 0 0 1.2rem;
}

.question {
  margin-top: 2rem;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: 400;
  opacity: .9;
  text-shadow: black 0 0 1.2rem;
}

.task {
  font-family: 'Indie Flower', cursive;
  font-size: 2.2rem;
  font-weight: 400;
  opacity: .8;
  text-shadow: black 0 0 1.2rem;
  outline: 0;
  transition: 0.3s;
}

.task:hover, .task:focus {
  opacity: 1;
  letter-spacing: .2rem;
  text-shadow: red 0 0 1.2rem;
}

input[type=text] {
  background: transparent;
  border: none;
  width: 100%;
  color: white;
  outline: 0;
  text-align: center;
}

.next-image {
  right: 0;
  font-size: 3rem;
  margin-top: 1rem;
  width: 3rem;
  opacity: .7;
  transition: 0.3s;
}

.next-image:not(.animate):hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: black 0 0 1.2rem;
}

.next-image.animate {
  opacity: 1;
}

.quote {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: .3rem;
  color: black;
  background-color: rgba(244, 244, 244, 0.7);
  text-shadow: black 0 0 .1rem;
}

blockquote {
  padding: .5rem;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 1.4rem;
  text-align: justify;
}

.blockquote__error {
  display: none;
  color: red;
  margin-right: .2rem;
}

.blockquote__error.active {
  display: block;
}

.author {
  padding-right: .5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  align-self: flex-end;
}

.weather {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  width: 30%;
  max-width: 20rem;
  border-radius: .3rem;
  background-color: rgba(0,0,0,0.5);
}

.weather__header {
  display: flex;
  justify-content: space-between;
}

.weather__error {
  display: none;
  align-items: center;
}

.weather__error.active {
  display: flex;
}

.weather__error__icon {
  margin-left: .2rem;
  align-self: start;
  font-size: 2rem;
  color: red;
}

.weather__error__text {
  font-size: 1.4rem;
}

.weather__error__text::first-letter {
  text-transform: uppercase;  
}

.weather__content.hide {
  display: none;
}

.weather__content__data__temp-wind {
  display: flex;
  align-items: center;
}

.temperature {
  margin-right: .5rem;
}

.btnUpdateWeather {
  align-self: flex-end;
  font-size: 2rem;  
  transition: 0.3s;
}

.btnUpdateWeather:hover {
  transform: scale(1.2);
  text-shadow:  black 0 0 1.2rem;
}

.cityLabel {
  font-size: 1.4rem;
  text-shadow:lime 0 0 .2rem;
  max-width: 30rem;
  overflow: hidden;
}

.btnUpdateQuote {
  color: black;
  transition: 0.3s;
}

.btnUpdateQuote:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btnUpdateWeather {
  color: white;
}

.btnUpdateWeather:hover {
  cursor: pointer;
}