:root {
  font-size: 10px;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  position: absolute;
  left: -100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  
}

.background.fadeOut {
  animation: 1s ease-in-out;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}  

.background.fadeIn {
  opacity: 0;
  animation: 0.2s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}  

@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.date-time__wrapper, .greeting__wrapper, .name__wrapper, .city__wrapper, .task__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.date-time__wrapper {
  margin-top: 10%;
}

.date {
  font-family: 'Lobster', cursive;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: .8rem;
  text-shadow: black 0 0 1.6rem;
}

.time {
  font-family: 'Fira Mono', monospace;
  font-size: 12rem;
  font-weight: 700;
  text-shadow: black 0 0 1.9rem;
}


.greeting {
  font-family: 'Sansita Swashed', cursive;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: .8rem;
  opacity: .8;
  text-shadow: black 0 0 1rem;
}

.name {
  font-family: 'Sansita Swashed', cursive;
  font-size: 3.3rem;
  font-weight: 500;
  opacity: .8;
  text-shadow: black 0 0 1rem;
  outline: 0;
  transition: .3s;
}

.name:hover, .name:focus {
  opacity: 1;
  letter-spacing: .3rem;
  text-shadow: blue 0 0 1.9rem;
}

.questionCity {
  font-family: 'Sansita Swashed', cursive;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: .8rem;
  opacity: .8;
  text-shadow: black 0 0 1.9rem;
}

.city {
  font-family: 'Sansita Swashed', cursive;
  font-size: 3.3rem;
  font-weight: 500;
  opacity: .8;
  text-shadow: black 0 0 1.9rem;
  outline: 0;
  transition: 0.3s;
}

.city:hover, .city:focus {
  opacity: 1;
  letter-spacing: .3rem;
  text-shadow: green 0 0 1.9rem;
}

.question {
  font-family: 'Indie Flower', cursive;
  font-size: 3.2rem;
  font-weight: 400;
  opacity: .9;
  text-shadow: black 0 0 1.9rem;
}

.task {
  font-family: 'Indie Flower', cursive;
  font-size: 3.3rem;
  font-weight: 400;
  opacity: .8;
  text-shadow: black 0 0 1.9rem;
  outline: 0;
  transition: 0.3s;
}

.task:hover, .task:focus {
  opacity: 1;
  letter-spacing: .3rem;
  text-shadow: red 0 0 1.9rem;
}

input[type=text] {
  background: transparent;
  border: none;
  width: 100%;
  color: white;
  outline: 0;
  text-align: center;
}

.next-image {
  right: 0;
  font-size: 4.8rem;
  width: 4.8rem;
  opacity: .7;
  transition: 0.3s;
  text-align: center;
}

.next-image:not(.animate):hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: black 0 0 1.2rem;
}

.next-image.animate {
  opacity: 1;
}

.quote {
  overflow: hidden;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  width: 95%;
  border-radius: .5rem;
  color: white;
  background-color: rgba(0,0,0,0.5);
  text-shadow: white 0 0 .5rem;
}

blockquote {
  padding: .8rem;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 2.24rem;
  text-align: justify;
}

.blockquote__error {
  display: none;
  color: red;
  margin-right: .3rem;
}

.blockquote__error.active {
  display: block;
}

.author {
  padding-right: .8rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.24rem;
  align-self: flex-end;
}

.weather {
  display: flex;
  flex-direction: column;
  padding: .8rem;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  height: 12rem;
  width: 30%;
  max-width: 32rem;
  border-radius: .48rem;
  background-color: rgba(0,0,0,0.5);
}

.weather__header {
  display: flex;
  justify-content: space-between;
}

.weather__error {
  display: none;
  align-items: center;
}

.weather__error.active {
  display: flex;
}

.weather__error__icon {
  margin-left: .3rem;
  align-self: start;
  font-size: 3.2rem;
  color: red;
}

.weather__error__text {
  margin-left: 0.2rem;
  font-size: 2.24rem;
}

.weather__error__text::first-letter {
  text-transform: uppercase;  
}

.weather__content.hide {
  display: none;
}

.weather__content__data__temp-wind {
  display: flex;
  align-items: center;
}

.temperature {
  margin-right: .8rem;
}

.btnUpdateWeather {
  align-self: flex-end;
  font-size: 3.2rem;  
  transition: 0.3s;
}

.btnUpdateWeather:hover {
  transform: scale(1.2);
  text-shadow:  black 0 0 1.9rem;
}

.cityLabel {
  font-size: 2.24rem;
  text-shadow:lime 0 0 .3rem;
  max-width: 48rem;
  overflow: hidden;
}

.btnUpdateQuote {
  font-size: 3.2rem;
  color: white;
  transition: 0.3s;
}

.btnUpdateQuote:not(.fa-spin):hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btnUpdateWeather {
  color: white;
}

.btnUpdateWeather:not(.fa-spin):hover {
  cursor: pointer;
}


@media screen and (max-width: 1119px) {
  .date-time__wrapper {
    margin-top: 15%;
  }

  .blockquote__text, .author, .btnUpdateQuote {
    font-size: 2rem;
  }
  
}

@media screen and (max-width: 850px) {
  .time {
    font-size: 7rem;
  }

  .greeting, .name, .name:hover, .name:focus,
  .questionCity, .city, .city:hover, .city:focus,
   .question, .task, .task:hover, .task:focus {
    font-size: 2.5rem;
    letter-spacing: normal;
  }

  .blockquote__text, .author, .btnUpdateQuote {
    font-size: 2rem;
  }
}

@media screen and (max-width: 750px) {
  body {
    justify-content: space-between;
  }
  
  .greeting, .name, .name:hover, .name:focus,
  .questionCity, .city, .city:hover, .city:focus,
   .question {
    font-size: 2rem;
    letter-spacing: normal;
  }

  .task, .task:hover, .task:focus {
    font-size: 1.8rem;
    letter-spacing: normal;
  }

  .date-time__wrapper {
    margin-top: 0rem;
  }

  .weather {
    position: static;
    justify-self: flex-start;
    padding: 0.1rem;
    border-radius: 0;
    height: 11rem;
    max-width: 100%;
    width: 100%;
  }
  
  .weather__content {
    display: flex;
  }

  .weather__content__data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .blockquote__text, .author, .btnUpdateQuote {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 500px) {

  body {
    justify-content: space-between;
  }
  
  .greeting, .name, .name:hover, .name:focus,
  .questionCity, .city, .city:hover, .city:focus,
   .question, .task, .task:hover, .task:focus {
    font-size: 1.4rem;
    letter-spacing: normal;
  }

  .weather {
    height: 4.5rem;
  }

  .weather, .cityLabel, .btnUpdateWeather, .weather-icon, .weather__error__icon, .weather__error__text {
    font-size: 1.2rem;
  }
  
  .date-time__wrapper {
    margin-top: 0;
  }

  .date {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .time {
    font-size: 5.5rem;
  }

  .blockquote__text, .author, .btnUpdateQuote {
    font-size: 1.4rem;
  }

  .next-image {
    font-size: 2rem;
  }
}

@media screen and (max-height: 900px) 
              and (min-width: 501px) {

  .blockquote__text, .author, .btnUpdateQuote {
    font-size: 1.4rem;
  }
}

@media screen and (max-height: 900px) 
              and (min-width: 801px) {

  .blockquote__text, .author, .btnUpdateQuote {
    font-size: 1.7rem;
  }
}

@media screen and (max-height: 799px) 
              and (min-width: 501px) {
  .next-image {
    font-size: 3rem;
  }
  
  body {
    justify-content: space-between;
  }

  .date-time__wrapper {
    margin-top: 0;
  }

  .date {
    font-size: 2rem;
  }

  .time {
    font-size: 5rem;
  }

  .greeting, .name, .name:hover, .name:focus,
  .questionCity, .city, .city:hover, .city:focus,
   .question, .task, .task:hover, .task:focus {
    font-size: 1.4rem;
    letter-spacing: normal;
  }

  .weather {
    position: static;
    justify-self: flex-start;
    padding: 0.1rem;
    border-radius: 0;
    height: 4.4rem;
    max-width: 100%;
    width: 100%;
    font-size: 1.4rem;
  }
  
  .weather__content {
    display: flex;
  }

  .weather, .cityLabel, .btnUpdateWeather, .weather-icon, .weather__error__icon, .weather__error__text {
    font-size: 1.4rem;
  }
  
  .weather__content__data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

@media screen and (max-height: 500px) 
              and (min-width: 320px) {

  .weather {
    position: static;
    justify-self: flex-start;
    padding: 0.1rem;
    border-radius: 0;
    height: 11rem;
    max-width: 100%;
    width: 100%;
  }
  
  .weather__content {
    display: flex;
  }

  .weather__content__data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  blockquote {
    padding: 0.1rem;
  }
   
  .blockquote__text, .author {
    font-size: 1.4rem;
  }

  .date-time__wrapper {
    margin-top: 0;
  }

  .greeting, .name, .name:hover, .name:focus,
  .questionCity, .city, .city:hover, .city:focus,
   .question, .task, .task:hover, .task:focus, .cityLabel, 
   .weather-icon, .btnUpdateWeather, .weather__content__data {
    font-size: 1.4rem;
    letter-spacing: normal;
  }

  .weather {
    height: 4.4rem;
  }
            
  .date {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }
  .time {
    font-size: 1.4rem;
  }

  .next-image {
    font-size: 1.4rem;
  }
}