:root {
    font-size: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: silver;
}

h1 {
    margin: 5px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
 
.content {
    display: flex;
}

.instruction {
    margin-bottom: 5px;
    width: 90%;
    font-size: 1.4rem;
}

textarea {
    padding: 1rem;
    font-size: 2rem;
    width: 90%;
    border-radius: 2px;
    outline:none;
}

textarea:focus {
    border: 2px solid limegreen;
    
}

@media screen and (max-width: 1200px) {
    :root {
        font-size: 10px;
    }
       
}

@media screen and (max-height: 700px) {
    :root {
        font-size: 7px;
    }
       
}