.footer {
    width: 100%;
    background: $footer-gradient-background;

    &__content {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;

        &__text {
            display: flex;
        }
    }
    
    &__contacts {
        padding: 1.6rem 0 6rem;
        max-width: 28.16rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title  {
            display: flex;
            flex-direction: column;
            @include h3;
            color: $color-light-xl;
        }

        &__image {
            width: 25%;
            max-width: 30rem;
            object-fit: contain;
        }

        &__icon {
            width: 4rem;
            max-width: 40px;
            object-fit: contain;
        }

    }
    
    &__location {
        margin-left: 16rem;
        padding: 1.6rem 0 6rem 0;
        max-width: 30.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &__title  {
            margin-left: 0.1rem;
            display: flex;
            flex-direction: column;
            @include h3;
            color: $color-light-xl;
        }

        &__icon {
            width: 2.2rem;
            max-width: 22px;
            object-fit: contain;
        }
    }

    &__text {
        margin-left: 2rem;
        @include h4;
        letter-spacing: 0.12rem;
        color: $color-primary;
    }
    
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    &__icon {
        flex-shrink: 0;
    }
}

@media screen and (min-width: 768px) 
              and (max-width: 1279px) {
    .footer {

        &__content {
            margin-top: 3rem;
            flex-direction: column;
            align-items: center;
        }

        &__contacts {
            padding: 0;
        }

        &__location {
            padding: 0;
            margin-left: 6rem;
        }
        
        &__contacts__email, &__location__adress:first-child {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        &__contacts__image {
            margin-top: 6.5rem;
            width: 30rem;
            object-fit: contain;
        }

    }

}