.footer {

    &__content {
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
    }

    &__contacts {
        padding: 0;
    }

    &__location {
        padding: 0;
        margin-left: 6rem;
    }
    
    &__contacts__email, &__location__adress:first-child {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    &__contacts__image {
        margin-top: 6.5rem;
        width: 30rem;
        object-fit: contain;
    }

}
