.footer {
    width: 100%;
    background: $footer-gradient-background;

    &__content {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
    }
    
    &__contacts {
        padding: 1.6rem 0 6rem;
        //height: 14.625rem;
        max-width: 28.16rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title  {
            @include h3;
            //letter-spacing: 0.13rem;
            color: $color-light-xl;
        }
        
    }
    
    &__location {
        padding: 1.6rem 0 6rem;
        max-width: 30.2rem;
        //height: 14.625rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &__title  {
            @include h3;
            //letter-spacing: 0.13rem;
            color: $color-light-xl;
        }

    }

    &__text {
        margin-left: 2rem;
        @include h4;
        //letter-spacing: 0.075rem;
        color: $color-primary;
    }
    
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    &__icon {
        flex-shrink: 0;
    }
}