.wrapper {
    display: flex;
    justify-content: space-between;
    //width: 100%;
    //width: 93.75%;
    width: 120rem;
    margin: 0 auto;
}

.header {
    width: 100%;
    top: 6rem;
    position: absolute;
    //width: 100vw;
    max-width: 100%;
}

// h1 {
//     display: none;
// }

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    &__title {
        margin: 0;
        @include logo-title;
        color: $color-primary;
    }
    &__subtitle {
        //margin-top: 1rem;
        @include logo-subtitle;
        color: $color-light-xl;
    }
}

.menu {
    margin: 1.6rem 0 1.7rem;
    //width: 36.92%;
    //max-width: 44.3rem;
    width: 44.3rem;
    display: flex;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    &__item {
        //padding-top: 1.6rem;
        display: flex;
        align-items: center;
    }
    
    &__link {
        font-family: Arial;
        font-weight: normal;
        font-size: 1.5rem;
        //line-height: 160%;
        line-height: 2.4rem;
        letter-spacing: 0.005rem;
        text-decoration: none;
        @-moz-document url-prefix() {
            letter-spacing: 0.03rem;
        }
        
        &_disabled {
            color: #CDCDCD;
        }
        
        &_active {
            border-bottom: solid 0.3rem $color-primary;
            color: $color-light-s
        }
        
        &:hover {
            cursor: pointer;
            color: $color-light-s;
        }        
    }

}

@media screen and (min-width: 768px) 
              and (max-width: 1279px) {
    
    .header {
        top: 3rem;
        .wrapper {
            width: 100%;
            .logo {
                margin-left: 3rem;
            }
            .menu {
                margin-right: 3rem;
            }
        }
    }                

}