.wrapper {
    display: flex;
    justify-content: space-between;
    width: 120rem;
    margin: 0 auto;
}

.header {
    width: 100%;
    top: 6rem;
    position: absolute;
    max-width: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    &__title {
        margin: 0;
        @include logo-title;
        color: $color-primary;
    }
    &__subtitle {
        @include logo-subtitle;
        color: $color-light-xl;
    }
}

.menu {
    margin: 1.6rem 0 1.7rem;
    width: 44.3rem;
    display: flex;
    &__burger {
        display: none;
    }
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    &__item {
        display: flex;
        align-items: center;
    }
    
    &__link {
        font-family: Arial;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2.4rem;
        letter-spacing: 0.005rem;
        text-decoration: none;
        @-moz-document url-prefix() {
            letter-spacing: 0.03rem;
        }
        
        &_disabled {
            color: #CDCDCD;
        }
        
        &_active {
            border-bottom: solid 0.3rem $color-primary;
            color: $color-light-s
        }
        
        &:hover {
            cursor: pointer;
            color: $color-light-s;
        }        
    }

}

@media screen and (min-width: 768px) 
              and (max-width: 1279px) {

    @import "_header768";
}

@media screen and (max-width: 767px) {


    @import "_header768";

    .header {
        
        .logo {
            margin-left: 1rem;
        }

        .menu {
            width: 3rem;
            margin: 2rem 5.3rem 1.8rem 0;
            
            .list {
                display: none;
            }

            &__burger {
                display: block;
            }
        }

    }                

}