* {
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.statusbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.timer {
    display: flex;
    align-items: center;
}

.box {
    position: relative;
    /* border: 3px solid blue; */
    /* border-radius: 5px; */
    background-color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.overlay.active {
    /* background: rgba(0, 0, 0, 0.8); */
    z-index: 9000;
}

.info {
    font-size: 50px;
    font-weight: bold;
    color: crimson;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    z-index: 9001;
}

.save__info {
    font-size: 50px;
    font-weight: bold;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

.load__info {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

.circle {
    border-radius: 50%;
}

.cell {
    cursor: pointer;
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 40px;
    user-select: none;
    background-attachment: scroll;
    transition: all .3s;
}

.cell.copy {
    opacity: 0.5;
}

.cell.copy.hidden {
    display: none;
}

.cell.copy.test {
    opacity: 0;
}

.not-animate {
    transition: none;
}

.cell:hover {
    cursor: pointer;
}

.slider__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniBox {
    position: relative;
    background-color: white;
}

.miniCell {
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 10px;
    user-select: none;
    background-attachment: scroll;
}

.empty {
    border: none;
    opacity: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    padding-top: 5px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
}

.menu__list__item {
    color: gray;
    transition: all .3s;
}

.menu__list__item.active {
    cursor: pointer;
    color: white;
    text-shadow: 0 0 10px black;
}

.menu__list__item.active:hover {
    cursor: pointer;
    text-shadow: 0 0 5px blue;
    color: blue;
    /* text-shadow: none; */
}

.material-icons, .material-icons-outlined {
    font-size: 40px;
}

.settings {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.settings__title, .topScore__title {
    font-size: 50px;
    font-weight: bold;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
    text-decoration: underline;
}

.settings__type, .settings__size {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.settings__type__title, .settings__size__title {
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

.settings__type label {
    cursor: pointer;
    margin-right: 10px;
    font-size: 30px;
    color: white;
}

.settings__type input {
    cursor: pointer;
    margin-right: 5px;
}

.settings__size select {
    cursor: pointer;
    font-size: 20px;
}

.settings__sound  {
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

#apply_settings {
    cursor: pointer;
    padding: 2px;
    font-size: 15px;
}

#apply_settings:hover {
    /* background-color: lightskyblue; */
    box-shadow: 0 0 10px white;
}

.settings__info {
    font-size: 15px;
    opacity: 0;
}

.settings__info.active {
    color: white;
    opacity: 1;
}

.topScore {
    margin-top: 40px;
    height: 100%;
}

.win {
    font-size: 30px;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em lime;
    text-align: center;
    animation: scale 2s linear;
}

.topScore__table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.topScore__table th {
    text-align: center;
    color: lime;
    border-bottom: 1px solid #ddd;
}

.topScore__table td {
    text-align: center;
    color: white;
}

@keyframes scale {
    0%   { transform: scale(0); }
    100% { transform: scale(1); }
}

.slider {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider__title {
    font-size: 25px;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

.slider__wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.slider__left, .slider__right {
    opacity: 0;
}

.slider__left.active, .slider__right.active {
    cursor: pointer;
    opacity: 1;
    color: white;
}

.slider__left.active:hover, .slider__right.active:hover {
    text-shadow: 1px 1px 2px black, 0 0 10px white;
}

.slider__preview {
    height: 250px;
    width: 50%;
}

.slider__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    color: white;
}

#slider__load {
    font-size: 15px;
}

#slider__load:hover {
    cursor: pointer;
    box-shadow: 0 0 15px white;
}