* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 9999;
}

.rules.hide {
    display: none;
}

.rules__text {
    width: 70%;
    font-size: 30px;
    text-align: justify; 
}

.rules__start-button {
    margin-top: 5px;
    font-size: 30px;
    color: crimson;
}

.rules__start-button:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
}

.statusbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.timer {
    display: flex;
    align-items: center;
}

.box {
    position: relative;
    background-color: white;
    background-size: contain;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.overlay.active {
    z-index: 9000;
}

.pause {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pause__title {
    font-size: 50px;
    font-weight: bold;
    color: crimson;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    z-index: 9001;
}

.pause__solve-info {
    font-size: 20px;
    color: white;
    text-align: center;
}

.pause__solve-button .material-icons-outlined {
    font-size: 70px;
    color: crimson;
}

.pause__solve-button:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
}

.pause__solve-button.animate {
    animation: color .7s linear infinite;
}

@keyframes color {
    0%   { text-shadow: 1px 1px 2px black, 0 0 0 white; }
    100% { text-shadow: 1px 1px 2px black, 0 0 1em white; }
}

.save__info {
    font-size: 50px;
    font-weight: bold;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

.load__info {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

.circle {
    border-radius: 50%;
}

.cell {
    cursor: pointer;
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 40px;
    user-select: none;
    background-attachment: scroll;
    transition: left .3s, top .3s;
    box-shadow: inset rgba(0,0,0,.5) -3px -3px 8px, 
    inset rgba(255,255,255,.9) 3px 3px 8px, rgba(0,0,0,.8) 3px 3px 8px -3px;

}

.cell.number {
    text-shadow: 0 1px #f7f0f0;
    background: rgb(100,100,100) radial-gradient(circle at 0 0, 
    rgba(255,255,255,.65), rgba(255,255,255,.35));
}

.cell.copy {
    opacity: 0.5;
}

.cell.copy.hidden {
    display: none;
}

.cell.copy.test {
    opacity: 0;
}

.not-animate {
    transition: none;
}

.cell:hover {
    cursor: pointer;
}

.slider__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniBox {
    position: relative;
    background-color: white;
}

.miniCell {
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 10px;
    user-select: none;
    background-attachment: scroll;
    box-shadow: inset rgba(0,0,0,.5) -1px -1px 3px, 
    inset rgba(255,255,255,.9) 1px 1px 3px, rgba(0,0,0,.8) 1px 1px 3px -1px;

}

.miniCell.number {
    text-shadow: 0 .5px #f7f0f0;
    background: rgb(100,100,100) radial-gradient(circle at 0 0, 
    rgba(255,255,255,.65), rgba(255,255,255,.35));
}

.empty {
    border: none;
    opacity: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    padding-top: 5px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
}

.menu__list__item {
    color: gray;
    transition: all .3s;
}

.menu__list__item.active {
    cursor: pointer;
    color: white;
    text-shadow: 0 0 10px black;
}

.menu__list__item.active:hover {
    cursor: pointer;
    text-shadow: 0 0 5px white;
    color: black;
}

.material-icons, .material-icons-outlined {
    font-size: 50px;
}

.settings {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.settings__title, .topScore__title {
    font-size: 70px;
    font-weight: bold;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
    text-decoration: underline;
}

.settings__type, .settings__size {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.settings__type__title, .settings__size__title {
    margin-right: 10px;
    font-size: 40px;
    font-weight: bold;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

.settings__type label {
    cursor: pointer;
    margin-right: 10px;
    font-size: 40px;
    color: white;
}

.settings__type input {
    cursor: pointer;
    margin-right: 5px;
}

.settings__size select {
    cursor: pointer;
    font-size: 30px;
}

.settings__sound  {
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

#apply_settings {
    width: 100px;
    cursor: pointer;
    padding: 2px;
    font-size: 25px;
}

#apply_settings:hover {
    box-shadow: 0 0 10px white;
}

.settings__info {
    font-size: 30px;
    opacity: 0;
}

.settings__info.active {
    color: white;
    opacity: 1;
}

.topScore {
    margin-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win {
    font-size: 30px;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em lime;
    text-align: center;
    animation: scale 2s linear;
}

.topScore__table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.topScore__table th {
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
    color: lime;

}

.topScore__table td {
    text-align: center;
    font-size: 25px;
    color: white;
}

@keyframes scale {
    0%   { transform: scale(0); }
    100% { transform: scale(1); }
}

.slider {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider__title {
    font-size: 35px;
    color: lime;
    text-shadow: 1px 1px 2px black, 0 0 1em limegreen;
}

.slider__wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.slider__left, .slider__right {
    opacity: 0;
}

.slider__left.active, .slider__right.active {
    cursor: pointer;
    opacity: 1;
    color: white;
}

.slider__left.active:hover, .slider__right.active:hover {
    text-shadow: 1px 1px 2px black, 0 0 10px white;
}

.slider__preview {
    height: 250px;
    width: 50%;
}

.slider__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
    color: white;
}

#slider__load {
    width: 100px;
    padding: 5px;
    font-size: 25px;

}

#slider__load:hover {
    cursor: pointer;
    box-shadow: 0 0 15px white;
}

@media screen and (max-width: 750px), (max-height: 750px) {

    .pause__solve-info {
        font-size: 15px;
    }
    
    .pause__solve-button .material-icons-outlined {
        font-size: 40px;
    }

    .rules__text {
        font-size: 20px;
    }

    .rules__start-button {
        font-size: 20px;
    }

    .slider__title {
        font-size: 30px;
    }
    
    .slider__info {
        font-size: 16px;
    }
    
    #slider__load {
        width: 50px;
        font-size: 15px;
    
    }

    .settings__title, .topScore__title {
        font-size: 40px;
    }
    
    .topScore {
        margin-top: 10px;
    }
    
    .topScore__table {
        margin-top: 10px;
    }
    
    .topScore__table th {
        font-size: 20px;
    }

    .topScore__table td {
        font-size: 20px;
    }
    
    .settings__type__title, .settings__size__title {
        font-size: 25px;
    }
    
    .settings__type label {
        font-size: 25px;
    }
    
    .settings__type input {
        margin-right: 5px;
    }
    
    .settings__size select {
        font-size: 25px;
    }
    
    .settings__sound  {
        font-size: 25px;
    }
    
    #apply_settings {
        width: 100px;
        font-size: 20px;
    }
    
    .settings__info {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px), (max-height: 500px) {
    .statusbar {
        font-size: 20px;
    }

    .material-icons, .material-icons-outlined {
        font-size: 30px;
    }
    
    .cell {
        font-size: 14px;
    }
    
    .save__info {
        font-size: 35px;
    }
    
    .load__info {
        font-size: 20px;
    }
 
    .slider__title {
        font-size: 15px;
    }
    
    .slider__wrapper {
        margin-top: 0;
    }
    
    .slider__preview {
        height: 165px;
        width: 165px;
    }
    
    .slider__info {
        display: none;
        font-size: 20px;
    }
    
    #slider__load {
        width: 50px;
        padding: 0;
        font-size: 15px;
    
    }
    
    .pause__title {
        font-size: 30px;
    }
 
    .settings__title, .topScore__title {
        font-size: 20px;
    }
    
    .topScore {
        margin-top: 10px;
    }
    
    .win {
        font-size: 20px;
    }
    
    .topScore__table {
        margin-top: 10px;
    }
    
    .topScore__table th {
        font-size: 14px;
        font-weight: 400;
    }

    .topScore__table td {
        font-size: 14px;
        font-weight: 200;
    }
 
    .settings__type__title, .settings__size__title {
        font-size: 15px;
    }
    
    .settings__type label {
        font-size: 15px;
    }
    
    .settings__type input {
        margin-right: 5px;
    }
    
    .settings__size select {
        font-size: 15px;
    }
    
    .settings__sound  {
        font-size: 20px;
    }
    
    #apply_settings {
        width: 50px;
        font-size: 15px;
    }
    
    .settings__info {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 400px), (max-height: 400px) {

    .rules__text {
        font-size: 15px;
    }

    .rules__start-button {
        font-size: 15px;
    }


    .statusbar {
        font-size: 20px;
    }

    .material-icons, .material-icons-outlined {
        font-size: 25px;
    }
    
    .cell {
        font-size: 14px;
    }
    
    .save__info {
        font-size: 35px;
    }
    
    .load__info {
        font-size: 20px;
    }
 
    .slider__title {
        font-size: 15px;
    }
    
    .slider__wrapper {
        margin-top: 0;
    }
    
    .slider__left, .slider__right {
        opacity: 0;
    }
    
    .slider__preview {
        height: 165px;
        width: 165px;
    }
    
    .slider__info {
        display: none;
        font-size: 20px;
    }
    
    #slider__load {
        width: 50px;
        padding: 0;
        font-size: 15px;
    
    }
    
    .pause__title {
        font-size: 30px;
    }
 
    .settings__title, .topScore__title {
        font-size: 20px;
    }
    
    .topScore {
        margin-top: 1px;
    }
    
    .win {
        font-size: 20px;
    }
    
    .topScore__table {
        margin-top: 0;
    }
    
    .topScore__table th {
        font-size: 14px;
        font-weight: 400;
    }

    .topScore__table td {
        font-size: 14px;
        font-weight: 200;
    }
 
    .settings__type__title, .settings__size__title {
        font-size: 15px;
    }
    
    .settings__type label {
        font-size: 15px;
    }
    
    .settings__type input {
        margin-right: 5px;
    }
    
    .settings__size select {
        font-size: 15px;
    }
    
    .settings__sound  {
        font-size: 20px;
    }
    
    #apply_settings {
        width: 50px;
        font-size: 15px;
    }
    
    .settings__info {
        font-size: 15px;
    }
    
}