* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: 10px;
    user-select: none;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.noScroll {
        overflow: hidden;
    }
}

.wrapper {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img { 
    pointer-events: none; 
}

@import "src/sass/components/_button";
@import "src/sass/components/_burger";
@import "src/sass/components/_switch";
@import "src/sass/layout/_header";
@import "src/sass/layout/_footer";
@import "src/sass/pages/_statistics";
@import "src/sass/pages/_main";