@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

:root {
  font-size: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  pointer-events: none;
}

.game-button {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-button__icon {
  font-size: 70px;
  color: #2196F3;
  opacity: .7;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.game-button__icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.game-button__text {
  font-size: 25px;
  font-weight: 700;
}

.game-button.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics-buttons button {
  padding: 5px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.statistics-buttons button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.statistics-buttons__difficult {
  background-color: blue;
}

.statistics-buttons__reset {
  background-color: crimson;
}

.blackout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: 9990;
}

.blackout.active {
  display: block;
}

.burger {
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 9999;
}

.burger:hover {
  cursor: pointer;
}

.burger .bar {
  padding: 0;
  width: 40px;
  height: 4px;
  background-color: #2196F3;
  display: block;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: all .4s ease-in-out, -webkit-transform .4s ease-in-out .4s;
  transition: all .4s ease-in-out, -webkit-transform .4s ease-in-out .4s;
  transition: all .4s ease-in-out, transform .4s ease-in-out .4s;
  transition: all .4s ease-in-out, transform .4s ease-in-out .4s, -webkit-transform .4s ease-in-out .4s;
}

.burger .bar1 {
  top: 0;
}

.burger .bar2,
.burger .bar3 {
  top: 13.5px;
  right: 0;
}

.burger .bar2 {
  width: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 13.5px;
}

.burger .bar3 {
  width: 1px;
  left: 13.5px;
}

.burger .bar4 {
  top: 13.5px;
  bottom: 0;
}

.burger .bar5 {
  bottom: 0px;
}

.burger.active .bar1 {
  top: 13.5px;
  background-color: transparent;
}

.burger.active .bar2 {
  left: 0px;
  width: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active .bar3 {
  left: 0;
  width: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.active .bar4 {
  background-color: transparent;
}

.burger.active .bar5 {
  bottom: 13.5px;
  background-color: transparent;
}

.burger-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 330px;
  z-index: 9998;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-color: white;
}

.burger-menu.active {
  left: 0;
}

.burger-menu__list {
  font-size: 40px;
  margin-top: 70px;
  margin-left: 30px;
  list-style-type: none;
}

.burger-menu__list li {
  margin-bottom: 30px;
}

.burger-menu__list li:hover {
  cursor: pointer;
  background-color: lightblue;
}

.burger-menu__list li.active {
  color: lightcoral;
}

.switch-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-button .train, .switch-button .play {
  font-size: 20px;
}

.switch-button .train {
  margin-right: 5px;
  font-weight: 700;
}

.switch-button .play {
  margin-left: 5px;
  font-weight: 700;
  color: gray;
}

.switch-button.game .train {
  color: gray;
}

.switch-button.game .play {
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.header {
  width: 100%;
  height: 70px;
}

.footer {
  width: 100%;
  height: 80px;
}

.footer .logo-rs {
  width: 150px;
  height: 50px;
}

.footer .year {
  font-size: 25px;
  font-weight: 700;
}

.footer .git {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}

.footer .git:visited {
  color: black;
}

.statistics-table {
  margin-bottom: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 20px;
  background: white;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.statistics-table th {
  font-weight: bold;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 15px;
}

.statistics-table th:hover {
  cursor: pointer;
}

.statistics-table th.sort.asc::before {
  content: "▼";
}

.statistics-table th.sort.desc::before {
  content: "▲";
}

.statistics-table td {
  color: #669;
  padding: 9px 8px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.statistics-table tr:hover td {
  color: #6699ff;
  background: #e8edff;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 80px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 300px;
}

.card__container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card h4 {
  text-align: center;
  font-size: 35px;
}

.flip-card {
  position: relative;
  height: 300px;
  width: 300px;
}

.flip-card .front, .flip-card .back, .flip-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.flip-card .overlay {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

.flip-card .overlay.active {
  z-index: 9990;
}

.flip-card.flipH .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card.flipH .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip-card .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip-card .icon-loop {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  font-weight: 700;
}

.flip-card .icon-loop:hover {
  color: blue;
}

.flip-card.play {
  height: 200px;
}

.flip-card.play .front, .flip-card.play .back {
  height: 200px;
}

.flip-card.play .card__container {
  display: none;
}

.flip-card.play img {
  border-radius: 5px;
}

.home {
  display: none;
  text-align: center;
  font-size: 60px;
  color: #2196F3;
}

.home:hover {
  cursor: pointer;
}

.home.active {
  display: block;
}

.game-status {
  height: 40px;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  font-size: 50px;
  font-weight: 700;
}

.game-status i {
  color: yellow;
  text-shadow: 0 0 10px black;
  font-size: 30px;
}

.smile {
  margin: 0 auto;
  width: 500px;
}
/*# sourceMappingURL=style.css.map */