.webdev-container {
    width: 1600px;
    margin: auto;    
}

.screen-1 {
    height: 744px;
    background: url("assets/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    position: absolute;
    top: -9999;
    left: -9999;
    opacity: 0;
}

.header {
    height: 95px;
}

.nav-header a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
}

.nav-header ul {
    padding-top: 25px;
    display: flex;
    align-items: center;
    margin-left: 31.38%;
}

.nav-header li {
    display: block;
    /* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    list-style-type: none;
}

.nav-header li a:hover {
   border-bottom: 1px solid #FFFFFF;     
}

.nav-header li.active a {
    border-bottom: 1px solid #FFFFFF;  
}

#nav-logo {
    margin-left: 100px;
    margin-right: 100px;
}

#nav-syllabus {
    margin-left: 85px;
}

#nav-projects {
    margin-right: 85px;
}

.screen-1-content {
    margin-top: 135px;
    margin-bottom: 183px;
}

.screen-1 h2 {
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.screen-1 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    text-align: center;
    color: #FFFFFF;

    margin-top: 20px;
    margin-bottom: 30px;
}    

.btn-main {
    width: 184px;
    height: 46px;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #00AFDB;
    border: none;
}

.btn-main:hover {
    background-color: #009CC2;
}

.screen-1 .button-wrapper {
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.socials ul {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

socials li {
    list-style-type: none;
}

.screen-2 {
    height: 842px;
    background: #fff;
    display: flex;
    flex-direction: row;
}

.screen-2 .screen-2-content {
    margin-top: 295px;
    margin-left: 268px; 
    margin-right: 248px;

    width: 407px;
    height: 233px;
}

.screen-2 h2 {
    /* h2-24-bold */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    /*align-items: flex-end; */
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #373737;

}

.screen-2 p {
    width: 407px;
    height: 80px;
/* body-14-reg */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    /* or 20px */

    color: #4E4E4E;

    margin-top: 20px;
    margin-bottom: 30px;
}

p .bold {
    font-weight: bold;    
}

.screen-2-content-image {
    margin-top: 120px;
    width: 407px;
    height: 582px;
    background: url("assets/content-image-1.png");
}
