.about {
    display: flex;
    background-color: $color-light-xl;
}

.about__content {
    padding: 5rem 0 6.25rem 0;
    display: flex;
}

.about__text {
    width: 26.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__text__heading {
    width: 23.125rem;
    font-family: Georgia;
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 0.13rem;
    color: $color-dark-l;
}

.about__text__subheading {
    font-family: Arial;
    font-weight: 400;
    //font-size: 0.9375rem;
    font-size: 0.942rem;
    line-height: 160%;
    color: $color-dark-xl;
}

.about__pets {
    padding-right: 7.5rem;
}