.about {
    width: 100%;
    display: flex;
    background-color: $color-light-xl;

    &__content {
        width: 100%;
        padding: 8rem 0 10rem 0;
        display: flex;
        justify-content: center;
    }
    
    &__text {
        padding-top: 1.4rem;
        width: 43rem;
        display: flex;
        flex-direction: column;
        
        &__heading {
            display: flex;
            flex-direction: column;
            @include h3;
            color: $color-dark-l;
        }
        
        &__subheading {
            padding-top: 2.5rem;
            @include paragraph-l;
            color: $color-dark-xl;
        }
        
    }

    &__pets {
        margin-right: 12rem;
        max-width: 30rem;
        object-fit: contain;
    }

}


@media screen and (min-width: 768px) 
              and (max-width: 1279px) {
         
    @import "_about768";            

}                  

@media screen and (max-width: 767px) {

    @import "_about768";
    
    .about {

        &__content {
            padding: 4.2rem 0;
        }

        &__text {

            margin-bottom: 4.2rem;
            width: 30rem;
            align-items: center;

            &__heading {
                @include h3-mobile;
                text-align: center;
            }

            &__subheading {
                @-moz-document url-prefix() {
                    padding-top: 2.4rem;
                }
                width: 27rem;
                text-align: justify;
                &:last-child {
                    padding-top: 2.2rem;
                }
            }
    
        }

        &__pets {
            width: 81.3%;
        }
    }                

}