.about {
    display: flex;
    background-color: $color-light-xl;
}

.about__content {
    padding: 8rem 0 10rem 0;
    display: flex;
}

.about__text {
    padding-top: 1.4rem;
    max-width: 43rem;
    display: flex;
    flex-direction: column;
    
    &__heading {
        max-width: 37rem;
        @include h3;
        color: $color-dark-l;
    }
    
    &__subheading {
        padding-top: 2.5rem;
        @include paragraph-l;
        color: $color-dark-xl;
    }
    
}


.about__pets {
    padding-right: 12rem;
}