.addition {
    background-color: $color-light-l;

    &__content {
        width: 120rem;
        //height: 17.75rem;
        margin: 8rem auto 10rem auto;
        display: flex;
        justify-content: center;

        &__image {
            display: flex;
            padding: 1.2rem 0 1.1rem;
        }

        &__text {
            max-width: 38rem;
            margin-left: 3rem;
            //height: 17.625rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__heading {
                max-width: 30rem;
                @include h3;
                //letter-spacing: 0.1rem;
                color: $color-dark-l;    
            }
            
            &__subheading {
                @include h5;
                //letter-spacing: 0.056rem;
                color: $color-dark-l;
            }
            
        }

        &__link {
            max-width: 34.9rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1.5rem 1rem 1.5rem;
            text-decoration: none;
            background: $color-primary ;
            border-radius: 9px;
        }
        
        
        &__information {
            font-family: Arial;
            font-style: italic;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 150%;
            color: $color-dark-m;    
        }        

    }

    &__phone-number {
        @include h4;
        //letter-spacing: 0.075rem;
        color: $color-dark-l;
    }
   
}






