.addition {
    width: 100%;
    background-color: $color-light-l;

    &__content {
        width: 100%;
        margin: 8rem auto 10rem auto;
        display: flex;
        justify-content: center;

        &__image {
            display: flex;
            padding: 1.2rem 0.1rem 1.1rem 0;
            img {
                width: 50.5rem;
                max-width: 100%;
                object-fit: contain;
            }
        }

        &__text {
            max-width: 38rem;
            margin-left: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__heading {
                display: flex;
                flex-direction: column;
                @include h3;
                color: $color-dark-l;    
            }
            
            &__subheading {
                @include h5;
                color: $color-dark-l;
            }
            
        }

        &__link {
            max-width: 34.9rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1.5rem 1rem 1.5rem;
            text-decoration: none;
            background: $color-primary ;
            border-radius: 9px;

            img {
                width: 3rem;
                max-width: 100%;
                object-fit: contain;
            }
        }
        
        
        &__information {
            font-family: Arial;
            font-style: italic;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.8rem;
            @-moz-document url-prefix() {
                font-size: 1.1rem;
                letter-spacing: 0.04rem;
            }
            color: $color-dark-m;   
        }        

    }

    &__phone-number {
        @include h4;
        letter-spacing: 0.12rem;
        color: $color-dark-l;
    }
   
}

@media screen and (min-width: 768px) 
              and (max-width: 1279px) {

    @import "_addition768";                

}

@media screen and (max-width: 767px) {

    @import "_addition768";                
    
    .addition {
        &__content {
            margin-top: 4.2rem;
            margin-bottom: 4.2rem;
            text-align: center;
            &__text {
                align-items: center;

                &__heading {
                    width: 30rem;
                    @include h3-mobile;
                    display: inline-block;
                }

                &__subheading {
                    @-moz-document url-prefix() {
                        margin-top: 2.05rem;
                        margin-bottom: 1.9rem;;
                    }
                    @include paragraph-l;
                }
            }

            &__link {
                width: 28.1rem;
            }

            &__information {
                text-align: justify;
                width: 28rem;
            }

            &__image {
                justify-content: center;
                margin: 0;
                margin-top: 4.2rem;
                width: 81.3%;
            }
        }

        &__phone-number {
            @include h5;
        }
    
    }
}