.friends {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-light-l;

    &__content {
        width: 100%;
        margin: 8rem auto 10rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__heading {
            padding-left: 0.1rem;
           
            display: flex;
            flex-direction: column;
            @include h3;
            text-align: center;
            color: $color-dark-l;
        }
        
    }

    &__slider {
        width: 100%;
        max-width: 120rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__wrapper {
            padding: 6rem 0 6rem;
            width: 99rem;
            display: flex;
            justify-content: space-between;
        }

        &__card {
            max-width: 27rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border-radius: 0.9rem;
            background-color: $color-light-s;

            & > label {
                display: none;
            }

            &__image {
                display: flex;
                img {
                    border-radius: 0.9rem 0.9rem 0 0;
                    width: 100%;
                    object-fit: contain;
                }            
            }

            &:hover {
                cursor: pointer;
                background-color: $color-light-xl;
                box-shadow: 0px 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
            }
            
            &__title {
                padding: 3rem 0 3rem;
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 2rem;
                line-height: 2.3rem;
                letter-spacing: 0.107rem;
                color: $color-dark-l;
            }

            &__button {
                margin-left: 0.1rem;
                padding-bottom: 3rem;
            }

        }

        &__button-left, &__button-right {
            img {
                width: 1.4rem;
                max-width: 100%;
                object-fit: contain;
            }            
        }
        
    }

    &__button {
        margin-left: 0.2rem;
    }
    
}

@media screen and (min-width: 768px) 
              and (max-width: 1279px) {
    @import "_friends768";
}

@media screen and (max-width: 767px) {

    @import "_friends768";

    .friends {
        &__content {
            margin: 4.2rem auto;
            @-moz-document url-prefix() {
                margin-top: 4.1rem;
            }

            &__heading {
                @include h3-mobile;
            }
        }       

        &__slider {
            flex-wrap: wrap;

            &__wrapper {
                margin: 0;
                margin-left: calc((100% - 27rem) / 2;
                margin-right: calc((100% - 27rem) / 2;
                padding: 4.2rem 0 2rem;
                width: 27rem;
                order: -1;
            }

            &__card:nth-child(2) {
                display: none;
            }

            &__button-left {
                margin-right: 8rem;
                margin-bottom: 4.2rem;
            }

            &__button-right {
                margin-bottom: 4.2rem;
            }

        }

    }
}