.help {
    display: flex;
    flex-direction: column;
    background-color: $color-light-xl;

    &__content {
        margin: 8rem 0 10rem 0;
        width: 120rem;
        //height: 26.9375rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__wrapper {
            margin-top: 6rem;
        }
    
        &__title {
            @include h3;
            max-width: 31rem;
            //letter-spacing: 0.13rem;
            color: $color-dark-l;
            text-align: center;
        }
    }    

    
    &__list {
        width: 102.6rem;
        //height: 17.5625rem;
        display: flex;
        flex-wrap: wrap;
        row-gap: 5.52rem;
        grid-template-rows: repeat(2, 11.3rem);
        grid-template-columns: repeat(5, 0.11fr);
        list-style-type: none;
        
        &__link {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
        }

        &__item__title {
            margin-top: 3rem;
            @include h4;
            color: $color-dark-l;
        }

        &__item:nth-child(n+2) {
            margin-left: 12rem;
        }
        
        &__item:nth-child(6) {
            margin-left: 8.5rem;
        }
        
    }
    
}


