.start {
    padding-top: 18rem;
    display: flex; 
    background: $start-screen-gradient-background;   
}

.start__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-section {
    padding-top: 16.3rem;
    padding-bottom: 24.4rem;
    max-width: 46;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__heading {
        @include h2;
        color: $color-light-xl;
        max-width: 31rem;
    }
    
    &__subheading {
        @include paragraph-l
        //margin-top: 4.2rem;
        color: $color-dark-s;
    }
}

.start__content__image-wrapper {
    display: flex;
    padding-left: 4.2rem;
}