.footer {
    width: 100%;
    height: 80px;
    opacity: 1;

    .logo-rs {
        width: 150px;
        height: 50px;
    }

    .year {
        font-size: 25px;
        font-weight: 700;
    }

    .git {
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        &:visited {
            color: black;
        }
    }

    &.disabled {
        opacity: 0;
    }
}

@media screen and (max-width: 670px) {
    .footer {
        .logo-rs {
            width: 70px;
            height: 20px;
        }

        .year {
            font-size: 15px;
            font-weight: 400;
        }

        .git {
            font-size: 15px;
            font-weight: 400;
        }
    }
}